<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BRAZE_API_KEY</key>
    <string>66236c90-12f9-4198-8c17-fe36b8962d24</string>
    <key>BRAZE_ENDPOINT</key>
    <string>sdk.fra-01.braze.eu</string>
</dict>
</plist>
